ACCESS_TOKEN_SECRET=your_access_token_secret_here
REFRESH_TOKEN_SECRET=your_refresh_token_secret_here
DATABASE_URL=postgresql://<user>:<password>@<host>.neon.tech/<dbname>?sslmode=require
CAREERJET_AFF_ID=your_careerjet_affiliate_id
UDEMYUSER_NAME=your_udemy_client_id
UDEMYPASS_WORD=your_udemy_client_secret
NODE_ENV=development
PORT=3600
